.DS_Store
*.tfstate*
*.zip
*.code-workspace
*/package
*venv
plan_aws
.backup
*.terraform*
/keys/
venv_n
.vscode
.coverage
*data/lambdas/
*aws-deployment-plan*
.deploy-plan*
*builds*
*.pyc
*local_develop.py
*log
*.temp
*tf_project_deploy*
/pytest_html_report
*.terragrunt-cache*
*build*
.idea
sandbox*
ziplist.txt
upload-lambda-*
python
env
